.green {color: #39b54a;}
.green-b {background-color: #39b54a;}
.white {color: white;}
.white-b {background-color: white; }
.black {color: black;}
.black-b {background-color: black; }
.cendre-b {background-color: #e6e6e6;}
.cendre {color:#757575;}
.black {background-color: rgba(0,0,0,.6)}
.black-b {background-color: black;}